<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.isometry.alfred.pipe</string>
	<key>connections</key>
	<dict>
		<key>64D17591-D71C-421B-B701-91E99A3C0318</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>D029EE08-8642-404B-83FE-BB5DFEE9C6B6</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>74681B4B-CBE4-403F-BDF7-39F4D2319ABD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>880D9394-A59A-4BC1-BB46-01461CEFEE80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>CCEE8787-6024-46B4-B155-240F86561281</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>E8AC122D-DD51-491F-A734-C89446EB1924</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D029EE08-8642-404B-83FE-BB5DFEE9C6B6</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>0FCF109F-A181-4D53-A4DB-DB54DA7440B8</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D637E280-521E-432F-85C1-3F58E064A66E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74681B4B-CBE4-403F-BDF7-39F4D2319ABD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robin Breathe</string>
	<key>description</key>
	<string>Process clipboard contents through shell command</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>pipe</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>42</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>|</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D637E280-521E-432F-85C1-3F58E064A66E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>|</string>
				<key>script</key>
				<string>from pipe import complete
print complete("""{query}""")</string>
				<key>title</key>
				<string>Pipe clipboard through one-liner</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>74681B4B-CBE4-403F-BDF7-39F4D2319ABD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>0FCF109F-A181-4D53-A4DB-DB54DA7440B8</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>pbpaste | {query}</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>D029EE08-8642-404B-83FE-BB5DFEE9C6B6</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>1</integer>
				<key>hotkey</key>
				<integer>42</integer>
				<key>hotmod</key>
				<integer>1310720</integer>
				<key>hotstring</key>
				<string>\</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>CCEE8787-6024-46B4-B155-240F86561281</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>applescript</key>
				<string>on alfred_script(q)
	tell application "Alfred 2" to search "|| "
end alfred_script</string>
				<key>cachescript</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.applescript</string>
			<key>uid</key>
			<string>E8AC122D-DD51-491F-A734-C89446EB1924</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>||</string>
				<key>script</key>
				<string>from pipe import complete
print complete("""{query}""")</string>
				<key>title</key>
				<string>Pipe clipboard through one-liner and paste</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>64D17591-D71C-421B-B701-91E99A3C0318</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>pipe</string>
				<key>script</key>
				<string>from pipe import complete
print complete("""{query}""")</string>
				<key>title</key>
				<string>Pipe clipboard through one-liner</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>880D9394-A59A-4BC1-BB46-01461CEFEE80</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>pbpaste | {query} | pbcopy</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Usage:

# Sort the contents of the clipboard, counting duplicates
| sort | uniq -c

| …your one-liner of choice.</string>
	<key>uidata</key>
	<dict>
		<key>0FCF109F-A181-4D53-A4DB-DB54DA7440B8</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>64D17591-D71C-421B-B701-91E99A3C0318</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>74681B4B-CBE4-403F-BDF7-39F4D2319ABD</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>880D9394-A59A-4BC1-BB46-01461CEFEE80</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>CCEE8787-6024-46B4-B155-240F86561281</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
		<key>D029EE08-8642-404B-83FE-BB5DFEE9C6B6</key>
		<dict>
			<key>ypos</key>
			<real>420</real>
		</dict>
		<key>D637E280-521E-432F-85C1-3F58E064A66E</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>E8AC122D-DD51-491F-A734-C89446EB1924</key>
		<dict>
			<key>ypos</key>
			<real>300</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/isometry/alfredworkflows/tree/master/net.isometry.alfred.pipe</string>
</dict>
</plist>
