<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.isometry.alfred.pipe</string>
	<key>connections</key>
	<dict>
		<key>74681B4B-CBE4-403F-BDF7-39F4D2319ABD</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>880D9394-A59A-4BC1-BB46-01461CEFEE80</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
		<key>D637E280-521E-432F-85C1-3F58E064A66E</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>74681B4B-CBE4-403F-BDF7-39F4D2319ABD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robin Breathe</string>
	<key>description</key>
	<string>Process clipboard contents through shell command</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>pipe</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>42</integer>
				<key>hotmod</key>
				<integer>1179648</integer>
				<key>hotstring</key>
				<string>|</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>D637E280-521E-432F-85C1-3F58E064A66E</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>|</string>
				<key>script</key>
				<string>from pipe import complete
print complete("{query}")</string>
				<key>title</key>
				<string>Pipe clipboard through one-liner</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>74681B4B-CBE4-403F-BDF7-39F4D2319ABD</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>pipe</string>
				<key>script</key>
				<string>from pipe import complete
print complete("{query}")</string>
				<key>title</key>
				<string>Pipe clipboard through one-liner</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>880D9394-A59A-4BC1-BB46-01461CEFEE80</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string>pbpaste | {query} | pbcopy</string>
				<key>type</key>
				<integer>5</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>16039760-F173-4AB8-9C73-DA7401D5DE23</string>
		</dict>
	</array>
	<key>readme</key>
	<string>Usage:

# Sort the contents of the clipboard, counting duplicates
| sort | uniq -c

| …your one-liner of choice.</string>
	<key>uidata</key>
	<dict>
		<key>16039760-F173-4AB8-9C73-DA7401D5DE23</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>74681B4B-CBE4-403F-BDF7-39F4D2319ABD</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
		<key>880D9394-A59A-4BC1-BB46-01461CEFEE80</key>
		<dict>
			<key>ypos</key>
			<real>180</real>
		</dict>
		<key>D637E280-521E-432F-85C1-3F58E064A66E</key>
		<dict>
			<key>ypos</key>
			<real>60</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/isometry/alfredworkflows</string>
</dict>
</plist>
