<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.isometry.alfred.trailer</string>
	<key>connections</key>
	<dict>
		<key>C19EB8CB-CE57-4E24-810C-BE0BDABBAD2A</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>44E99058-8D71-4227-B1EF-22B2EAC9B680</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robin Breathe</string>
	<key>description</key>
	<string>Find and open iTunes Movie Trailers</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>trailer</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>trailer</string>
				<key>runningsubtext</key>
				<string>Please wait: searching database and populating poster cache…</string>
				<key>script</key>
				<string>from trailer import complete
print complete("{query}")</string>
				<key>title</key>
				<string>Find iTunes Movie Trailers</string>
				<key>type</key>
				<integer>3</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>C19EB8CB-CE57-4E24-810C-BE0BDABBAD2A</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>plusspaces</key>
				<false/>
				<key>url</key>
				<string>{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>44E99058-8D71-4227-B1EF-22B2EAC9B680</string>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>44E99058-8D71-4227-B1EF-22B2EAC9B680</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>C19EB8CB-CE57-4E24-810C-BE0BDABBAD2A</key>
		<dict>
			<key>ypos</key>
			<real>10</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>https://github.com/isometry/alfredworkflows</string>
</dict>
</plist>
