<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>net.isometry.alfred.ssh</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>73503A72-F4BD-4C29-B531-ACE7CF405F6B</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>027D62F5-14E9-4EA0-BE27-57C38B1ECC1F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>89086C8B-52A6-4FC4-BD85-FC672CC36238</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>73503A72-F4BD-4C29-B531-ACE7CF405F6B</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Robin Breathe</string>
	<key>description</key>
	<string>Open Secure SHell with smart hostname autocompletion</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>ssh</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>4</integer>
				<key>keyword</key>
				<string>ssh</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Please Wait: matching host…</string>
				<key>script</key>
				<string>/usr/bin/python2.7 -m alfredssh "$@"</string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string></string>
				<key>subtext</key>
				<string>Open Secure SHell with smart hostname autocompletion</string>
				<key>title</key>
				<string>Open SSH</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>73503A72-F4BD-4C29-B531-ACE7CF405F6B</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>action</key>
				<integer>0</integer>
				<key>argument</key>
				<integer>0</integer>
				<key>hotkey</key>
				<integer>41</integer>
				<key>hotmod</key>
				<integer>1835008</integer>
				<key>hotstring</key>
				<string>S</string>
				<key>leftcursor</key>
				<false/>
				<key>modsmode</key>
				<integer>0</integer>
				<key>relatedAppsMode</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.trigger.hotkey</string>
			<key>uid</key>
			<string>89086C8B-52A6-4FC4-BD85-FC672CC36238</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>browser</key>
				<string></string>
				<key>spaces</key>
				<string></string>
				<key>url</key>
				<string>ssh://{query}</string>
				<key>utf8</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.openurl</string>
			<key>uid</key>
			<string>027D62F5-14E9-4EA0-BE27-57C38B1ECC1F</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>Easily open remote SSH sessions using your default ssh: protocol handler (the default being Terminal.app) with full anchored hostname autocompletion against the contents of ~/.ssh/config (e.g. Host aliases with Hostname override), ~/.ssh/known_hosts (historical connections), /etc/hosts and, optionally, Bonjour (Back to My Mac and local hosts advertising their ability to accept SSH connections).

Notes:
1. In order to enable Bonjour discovery, you must install the pybonjour module: `sudo /usr/bin/easy_install pybonjour`. Disable entirely by setting the "alfredssh_bonjour" environment variable to 0.
2. Disable any input by changing the value of the associated Workflow Environment Variable from 1 to 0.
3. Add additional files to be parsed and cached (hosts separated by whitespace, comment lines prefixed by #) by adding space-separated cache_suffix=file_path pairs to the alfredssh_extra_files Workflow Environment Variable. Neither "cache_suffix" nor "file_path" can contain any spaces, but ~ prefix is allowed on file_path. E.g.: "hosts.ed25519=~/.ssh/hosts.ed25519"</string>
	<key>uidata</key>
	<dict>
		<key>027D62F5-14E9-4EA0-BE27-57C38B1ECC1F</key>
		<dict>
			<key>note</key>
			<string>Launch default ssh: protocol-handler</string>
			<key>xpos</key>
			<integer>500</integer>
			<key>ypos</key>
			<real>10</real>
		</dict>
		<key>73503A72-F4BD-4C29-B531-ACE7CF405F6B</key>
		<dict>
			<key>note</key>
			<string>Parse arguments and return matching hosts</string>
			<key>xpos</key>
			<integer>320</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
		<key>89086C8B-52A6-4FC4-BD85-FC672CC36238</key>
		<dict>
			<key>note</key>
			<string>Optionally load workflow directly via hotkey</string>
			<key>xpos</key>
			<integer>150</integer>
			<key>ypos</key>
			<integer>10</integer>
		</dict>
	</dict>
	<key>variables</key>
	<dict>
		<key>alfredssh_bonjour</key>
		<string>1</string>
		<key>alfredssh_extra_files</key>
		<string></string>
		<key>alfredssh_hosts</key>
		<string>1</string>
		<key>alfredssh_known_hosts</key>
		<string>1</string>
		<key>alfredssh_max_results</key>
		<string>36</string>
		<key>alfredssh_ssh_config</key>
		<string>1</string>
	</dict>
	<key>version</key>
	<string>2.0</string>
	<key>webaddress</key>
	<string>https://github.com/isometry/alfredworkflows/tree/master/net.isometry.alfred.ssh</string>
</dict>
</plist>
